.github/superpower/*
!.github/superpower/copy-review/
!.github/superpower/copy-review/**
.idea

.kotlin
bin
.bin
dev-resources

node_modules
dist
dist-export
.beam-vfx-preview.log
__pycache__/
*.pyc

.gradle

*.code-workspace
build
